<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NStopwatch" version="0.0.7.1 "/>
  <package id="NSubstitute" version="1.8.1"/>
  <package id="NUnit" version="3.0.0-beta-2"/>
  <package id="TaskParallelLibrary" version="1.0.2856"/>
  <package id="Wix.Toolset"  version="3.9.1208"/>
</packages>